body               {
    background: linear-gradient(106.5deg, rgba(255, 215, 185, 0.91) 23%, rgba(223, 159, 247, 0.8) 93%);
    padding:20px;
    font-family: 'Trocchi', serif;
    font-size: 26px;
    font-weight: normal;
    text-align: center;
}

div {
    margin-bottom: 50px;
}

a {
    color: black; /* Default color */
    text-decoration: none; /* Remove underline */
    transition: color 0.15s; /* Smooth transition */
}

a:hover {
    color: #885DF1; /* Color on hover */
}

/* Style for navigation bar */
.navbar {
    background-color: #ffcbcb;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-right {
    float: right;
}

/* Style for navigation links */
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #e5b6b6;
    color: white;
}

.table_title {
    width: 80%;
    font-weight: bold;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 80%; /* Adjust the width of the table */
    margin: 0 auto; /* Center the table horizontally */
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #fcfefe;
}

tr:last-child td {
    border-bottom: none;
}

.rounded-corner {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* styling search bar */
.search input[type=text] {
    width: 200px;
    height: 25px;
    border-radius: 25px;
    border: none;
}

.search {
    float: right;
    margin: 3px;
}

.buttons {
    float: left;
    margin: 3px;
}

.search button {
    background-color: #ffcbcb;
    color: black;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

#genre_body {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    columns: 4;
    width: 50%;
}

#title_body {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 4em;
}

.browsing_tables {
    text-align: center;
}

.browsing_elements {
    margin: 4px;
}

.pagination_child {
    display: inline-block;
}
.round_prev_next {
    border-radius: 25px;
    background-color: #ffcbcb;
    color: black;
    padding: 8px 16px;
    width: 100%;
}

.round_prev_next:hover {
    background-color: #e5b6b6;
    color: white;
    cursor: pointer;
}

#page_number {
    width: 10%;
    padding: 10px;
}

.round_prev_next:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
    opacity: 0.3;
}

#popupDialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px
    rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.quality-selector {
    display: flex;
    align-items: center;
}

.minus-btn,
.plus-btn {
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.minus-btn:hover,
.plus-btn:hover {
    background-color: #ddd;
}

.quantity {
    padding: 0 10px;
}